doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/jquery-1.8.0.min.js')
		script(type='text/javascript', src='/javascripts/CanvasHelper.js')
		script(type='text/javascript', src='/javascripts/Client.js')
		script(type='text/javascript', src='/javascripts/Drawer.js')
		script(type='text/javascript', src='/javascripts/Game.js')
		script(type='text/javascript', src='/javascripts/Init.js')
			

	body
		block content